@use 'variables';
@use 'components';

.hero {
    background-image: url('../images/thaigosam_profile_01.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;

    &__title {
        font-family: 'DM Sans', sans-serif;
        font-size: 3em;
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: variables.$softWhite;
        }

        &__infos {
            display: flex;
            gap: 20px;
            justify-content: center;
            align-items: center;
            background-color: variables.$whiteGlass;
            margin-top: 20px;
            padding: 18px 20px;
            border-radius: 14px;

            &__text {
                font-size: 2em
            }
        }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: variables.$blackGlass;
        content: '';
    }

    @media (max-width: 640px) {
        background-image: url('../images/thaigosam_profile_01_mobile.jpeg');

        .hero__title {
            font-size: 2.5em;
            letter-spacing: 0px;
            text-align: center;
            line-height: 40px;
            }

            .hero__infos {
                flex-direction: column;

                &__text {
                    font-size: 1.3em;
                }

                &__button {
                    margin-top: 10px;
                }
            }
    }

    @media (min-width: 641px) and (max-width: 1024px) {
        background-image: url('../images/thaigosam_profile_01_tablet.jpeg');

        .hero__title {
            font-size: 3em;
            text-align: center;
            line-height: 60px;
        }
    }
}